
.header{
    display: flex;
    background-color: coral;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    

}
.sticky{
    position: fixed;
    top:0;
    width: 100%;
}
.body{
    margin-top: 15%;
}
.h1{
    /*display:flex ;*/
}
header .header-image{
 /*display:flex ;*/
 max-width: 50px;
 margin-right: 1cm;
 }
 header .nav{
    display: flex;
    margin-right: 1cm;
 }
 #pierna-img, #brazo-img, #abdomen-img{
     max-width: 20%;
 } 

 
 #pierna-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    object-fit: scale-down;
    align-items: center;
    
 }
 #brazo-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
 }
 #abdomen-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
 }
 #video-div{
     margin-top: 2cm;
     margin-bottom: 1cm;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 }
 #email-label{
    font-size: 30px;

 }
 #email-form{
     text-align: center;
 }
 @media (max-width: 1000px){
     .header{
         background-color: white;
     }

 }